@use 'sass:math';
@use 'sass:color';
@use 'constants' as *;

@function rem($size) {
  @return math.div($size, $font-size-default) * 1rem;
}

@function colorAdjust($color, $value) {
  @return color.adjust($color, $lightness: $value);
}
